<!DOCTYPE html>
<html lang="en">
<head>
	<title>Codescape GNU Toolchain</title>
	<meta charset="UTF-8" />
	<link rel="stylesheet" type="text/css" href="style.css">
    <link rel="icon" type="image/png" href="./images/mips-icon.png">
</head>

<body>
	<div id="GlobalHeaderContainer">
		<div id="GlobalHeader">
			<div class="logo">
				<a href="https://www.mips.com/develop/tools/" target="_blank"><img src="./images/MIPS_Full_Wht.png" width="60%" height="60%" /></a>

</div>
			<div class="sitetitle">Codescape GNU Toolchain</div>
		</div>
	</div>
	<div id="NavContainer">
		<nav>
			<div class="navlink">
				<a href="index.html" >Home</a>
			</div>
			<div class="navlink">
				<a href="support.html">Support</a>
			</div>
			<div class="navlink">
				<a href="releasenotes.html" >Release Notes</a>
			</div>
			<div class="navlink">
				<a href="downloads.html" class="current" >Downloads</a>
			</div>
			<div class="navlink">
				<a href="license.html">License Agreements</a>
			</div>
		</nav>
	</div>
	<div class="content">
	  <h1>Downloads</h1>

	<div id="Downloads">
	  <h2>Codescape GNU Tools ${VERSION} Binaries</h2>

	<h3>Bare Metal Toolchain <i>nanoMIPS32R6</i></h3>
	<p  CLASS="indented">
	  <table border=0>
	  <tr><td width="200px"><a href="${NAME_L32_NE}">Linux x86</a> (.tar.gz)</td><td width="80px">[${SIZE_L32_NE}M]</td><td >md5: <tt>${MD5_L32_NE}</tt><br>sha256: <tt>${SHA256_L32_NE}</tt></td></tr>
	  <tr><td width="200px"><a href="${NAME_L64_NE}">Linux x64</a> (.tar.gz)</td><td width="80px">[${SIZE_L64_NE}M]</td><td >md5: <tt>${MD5_L64_NE}</tt><br>sha256: <tt>${SHA256_L64_NE}</tt></td></tr>
	  <tr><td width="200px"><a href="${NAME_W32_NE}">Windows x86</a> (.tar.gz)</td><td width="80px">[${SIZE_W32_NE}M]</td><td >md5: <tt>${MD5_W32_NE}</tt><br>sha256: <tt>${SHA256_W32_NE}</tt></td></tr>
	  <tr><td width="200px"><a href="${NAME_W64_NE}">Windows x64</a> (.tar.gz)</td><td width="80px">[${SIZE_W64_NE}M]</td><td >md5: <tt>${MD5_W64_NE}</tt><br>sha256: <tt>${SHA256_W64_NE}</tt></td></tr>
	  </table>
	</p>
	<h3>MUSL/Linux Toolchain <i>nanoMIPS32R6</i></h3>
	<p  CLASS="indented">
	  <table border=0>
	  <tr><td width="200px"><a href="${NAME_L32_NLM}">Linux x86</a> (.tar.gz)</td><td width="80px">[${SIZE_L32_NLM}M]</td><td >md5: <tt>${MD5_L32_NLM}</tt><br>sha256: <tt>${SHA256_L32_NLM}</tt></td></tr>
	  <tr><td width="200px"><a href="${NAME_L64_NLM}">Linux x64</a> (.tar.gz)</td><td width="80px">[${SIZE_L64_NLM}M]</td><td >md5: <tt>${MD5_L64_NLM}</tt><br>sha256: <tt>${SHA256_L64_NLM}</tt></td></tr>
	  <tr><td width="200px"><a href="${NAME_W32_NLM}">Windows x86</a> (.tar.gz)</td><td width="80px">[${SIZE_W32_NLM}M]</td><td >md5: <tt>${MD5_W32_NLM}</tt><br>sha256: <tt>${SHA256_W32_NLM}</tt></td></tr>
	  <tr><td width="200px"><a href="${NAME_W64_NLM}">Windows x64</a> (.tar.gz)</td><td width="80px">[${SIZE_W64_NLM}M]</td><td >md5: <tt>${MD5_W64_NLM}</tt><br>sha256: <tt>${SHA256_W64_NLM}</tt></td></tr>
	  </table>
	</p>
	<hr />

	<h2>Codescape GNU Tools ${VERSION} Source</h2>
	<h3>Source Packages</h3>
			<p class="indented">
			<table border=0>
			${SOURCES}
			</table>

	</div>
	<br>
	<div class="content">
	  <h2>Previous Releases</h2>
	  <p>
	    <table>
	      <!-- ${REL_NEW} -->
	      <tr>
		<!-- ${REL_SUP_2019.03} -->
		<td><a href="../2019.03-06/downloads.html">2019.03-06</a></td>
		<td><a href="../2019.03-05/downloads.html">2019.03-05</a></td>
		<td><a href="../2019.03-04/downloads.html">2019.03-04</a></td>
		<td><a href="../2019.03-03/downloads.html">2019.03-03</a></td>
		<td><a href="../2019.03-02/downloads.html">2019.03-02</a></td>
		<td><a href="../2019.03-01/downloads.html">2019.03-01</a></td>
	      </tr>

	      <tr>
		<!-- ${REL_SUP_2018.06} -->
		<td><a href="../2018.06-06/downloads.html">2018.06-06</a></td>
		<td><a href="../2018.06-05/downloads.html">2018.06-05</a></td>
		<td><a href="../2018.06-04/downloads.html">2018.06-04</a></td>
		<td><a href="../2018.06-03/downloads.html">2018.06-03</a></td>
		<td><a href="../2018.06-01/downloads.html">2018.06-01</a></td>
	      </tr>
	      <tr>
		<!-- ${REL_SUP_2018.04} -->
		<td><a href="../2018.04-02/downloads.html">2018.04-02</a></td>
	      </tr>
	      <tr>
		<!-- ${REL_SUP_2018.03} -->
		<td><a href="../2018.03-02/downloads.html">2018.03-02</a></td>
	      </tr>
	      <tr>
		<!-- ${REL_SUP_2018.01} -->
		<td><a href="../2018.01-01/downloads.html">2018.01-01</a></td>
	      </tr>
	    </table>
	  </p>
	</div>
	<br>

	</div>
	</div>

	<div id="FooterMainContainer">
		<div id="FooterContainer">
			<div class="footerlogo">
				<a href="http://www.mips.com" target="_blank"><img src="./images/MIPS_master_logo.png" width="100%" height="100%" /></a>
			</div>
			<div class="copyright">&copy; 2019 MIPS Tech, LLC. All rights reserved</div>
		</div>
	</div>
</body>
</html>
