<!DOCTYPE html>
<html lang="en">
<head>
	<title>Codescape GNU Toolchain</title>
	<meta charset="UTF-8" />
	<link rel="stylesheet" type="text/css" href="style.css">
    <link rel="icon" type="image/png" href="./images/mips-icon.png">
</head>

<body>
	<div id="GlobalHeaderContainer">
		<div id="GlobalHeader">
			<div class="logo">
				<a href="https://www.mips.com/develop/tools/" target="_blank"><img src="./images/MIPS_Full_Wht.png" width="60%" height="60%" /></a>

</div>
			<div class="sitetitle">Codescape GNU Toolchain</div>
		</div>
	</div>
	<div id="NavContainer">
		<nav>
			<div class="navlink">
				<a href="index.html" >Home</a>
			</div>
			<div class="navlink">
				<a href="support.html">Support</a>
			</div>
			<div class="navlink">
				<a href="releasenotes.html" >Release Notes</a>
			</div>
			<div class="navlink">
				<a href="downloads.html" class="current" >Downloads</a>
			</div>
			<div class="navlink">
				<a href="license.html">License Agreements</a>
			</div>
		</nav>
	</div>
	<div class="content">
	  <h1>Downloads</h1>

	<div id="Downloads">
	  <h2>Codescape GNU Tools ${VERSION} Binaries</h2>

	<h3>MTI Bare Metal Toolchain <i>MIPS32R2-MIPS32R6, MIPS64R2-MIPS64R6, microMIPS and microMIPSR6</i></h3>
	<p  CLASS="indented">
	  <table border=0>
	  <tr><td width="200px"><a href="${NAME_L32_MME}">Linux x86</a> (.tar.gz)</td><td width="80px">[${SIZE_L32_MME}M]</td><td >md5: <tt>${MD5_L32_MME}</tt><br>sha256: <tt>${SHA256_L32_MME}</tt></td></tr>
	  <tr><td width="200px"><a href="${NAME_L64_MME}">Linux x64</a> (.tar.gz)</td><td width="80px">[${SIZE_L64_MME}M]</td><td >md5: <tt>${MD5_L64_MME}</tt><br>sha256: <tt>${SHA256_L64_MME}</tt></td></tr>
	  <tr><td width="200px"><a href="${NAME_W32_MME}">Windows x86</a> (.tar.gz)</td><td width="80px">[${SIZE_W32_MME}M]</td><td >md5: <tt>${MD5_W32_MME}</tt><br>sha256: <tt>${SHA256_W32_MME}</tt></td></tr>
	  <tr><td width="200px"><a href="${NAME_W64_MME}">Windows x64</a> (.tar.gz)</td><td width="80px">[${SIZE_W64_MME}M]</td><td >md5: <tt>${MD5_W64_MME}</tt><br>sha256: <tt>${SHA256_W64_MME}</tt></td></tr>
	  </table>
	</p>
	<h3>MTI GNU/Linux Toolchain <i>MIPS32R2-MIPS32R6, MIPS64R2-MIPS64R6, microMIPS and microMIPSR6</i></h3>
	<p  CLASS="indented">
	  <table border=0>
	 <tr><td width="200px"><a href="${NAME_L32_MMLG}">Linux x86</a> (.tar.gz)</td><td width="80px">[${SIZE_L32_MMLG}M]</td><td >md5: <tt>${MD5_L32_MMLG}</tt><br>sha256: <tt>${SHA256_L32_MMLG}</tt></td></tr>
	  <tr><td width="200px"><a href="${NAME_L64_MMLG}">Linux x64</a> (.tar.gz)</td><td width="80px">[${SIZE_L64_MMLG}M]</td><td >md5: <tt>${MD5_L64_MMLG}</tt><br>sha256: <tt>${SHA256_L64_MMLG}</tt></td></tr>
	  <tr><td width="200px"><a href="${NAME_W32_MMLG}">Windows x86</a> (.tar.gz)</td><td width="80px">[${SIZE_W32_MMLG}M]</td><td >md5: <tt>${MD5_W32_MMLG}</tt><br>sha256: <tt>${SHA256_W32_MMLG}</tt></td></tr>
	  <tr><td width="200px"><a href="${NAME_W64_MMLG}">Windows x64</a> (.tar.gz)</td><td width="80px">[${SIZE_W64_MMLG}M]</td><td >md5: <tt>${MD5_W64_MMLG}</tt><br>sha256: <tt>${SHA256_W64_MMLG}</tt></td></tr>
	  </table>
	</p>
	<hr />

	<h2>Codescape GNU Tools ${VERSION} Source</h2>
	<h3>Source Packages</h3>
			<p class="indented">
			<table border=0>
			${SOURCES}
			</table>

	</div>
	<br>

	<br>
	<div class="content">
	  <h2>Previous Releases</h2>
	  <p>
	    <table>
	      <!-- ${REL_NEW} -->
	      <tr>
		<!-- ${REL_SUP_2021.09} -->
		<td><a href="../2021.09-01/downloads.html">2021.09-01</a></td>
	      </tr>
	      <tr>
		<!-- ${REL_SUP_2020.06} -->
		<td><a href="../2020.06-01/downloads.html">2020.06-01</a></td>
	      </tr>
	      <tr>
		<!-- ${REL_SUP_2019.09} -->
		<td><a href="../2019.09-06/downloads.html">2019.09-06</a></td>
		<td><a href="../2019.09-03/downloads.html">2019.09-03</a></td>
		<td><a href="../2019.09-02/downloads.html">2019.09-02</a></td>
		<td><a href="../2019.09-01/downloads.html">2019.09-01</a></td>
	      </tr>
	      <tr>
		<!-- ${REL_SUP_2019.02} -->
		<td><a href="../2019.02-05/downloads.html">2019.02-05</a></td>
		<td><a href="../2019.02-04/downloads.html">2019.02-04</a></td>
		<td><a href="../2019.02-03/downloads.html">2019.02-03</a></td>
		<td><a href="../2019.02-01/downloads.html">2019.02-01</a></td>
	      </tr>

	      <tr>
		<!-- ${REL_SUP_2018.11} -->
		<td><a href="../2018.11-01/downloads.html">2018.11-01</a></td>
	      </tr>
	      <tr>
		<!-- ${REL_SUP_2018.09} -->
		<td><a href="../2018.09-03/downloads.html">2018.09-03</a></td>
		<td><a href="../2018.09-02/downloads.html">2018.09-02</a></td>
	      </tr>
	      <tr>
		<!-- ${REL_SUP_2017.10} -->
		<td><a href="../2017.10-08/downloads.html">2017.10-07</a></td>
		<td><a href="../2017.10-07/downloads.html">2017.10-07</a></td>
		<td><a href="../2017.10-05/downloads.html">2017.10-05</a></td>
	      </tr>
	      <tr>
		<!-- ${REL_SUP_2016.05} -->
		<td><a href="../2016.05-08/downloads.html">2016.05-08</a></td>
		<td><a href="../2016.05-06/downloads.html">2016.05-06</a></td>
		<td><a href="../2016.05-03/downloads.html">2016.05-03</a></td>
		<td><a href="../2016.05-01/downloads.html">2016.05-01</a></td>
	      </tr>
	      <tr>
		<!-- ${REL_SUP_2015.10} -->
		<td><a href="../2015.10-04/downloads.html">2015.10-04</a></td>
	      </tr>
	      <tr>
		<!-- ${REL_SUP_2015.06} -->
		<td><a href="../2015.06-05/downloads.html">2015.06-05</a></td>
		<td><a href="../2015.06-04/downloads.html">2015.06-04</a></td>
		<td><a href="../2015.06-03/downloads.html">2015.06-03</a></td>
	      </tr>
	      <tr>
		<!-- ${REL_SUP_2015.01} -->
		<td><a href="../2015.01-7/downloads.html">2015.01-7</a></td>
		<td><a href="../2015.01-6/downloads.html">2015.01-6</a></td>
		<td><a href="../2015.01-5/downloads.html">2015.01-5</a></td>
	      </tr>
	      <tr>
		<!-- ${REL_SUP_2014.07} -->
		<td><a href="../2014.07-1/downloads.html">2014.07-1</a></td>
	      </tr>
	    </table>
	  </p>
	</div>
	<br>

	</div>
	</div>

	<div id="FooterMainContainer">
		<div id="FooterContainer">
			<div class="footerlogo">
				<a href="http://www.mips.com" target="_blank"><img src="./images/MIPS_master_logo.png" width="100%" height="100%" /></a>
			</div>
			<div class="copyright">&copy; 2019 MIPS Tech, LLC. All rights reserved</div>
		</div>
	</div>
</body>
</html>
