<!DOCTYPE html>
<html lang="en">
<head>
	<title>Codescape GNU Toolchain</title>
	<meta charset="UTF-8" />
	<link rel="stylesheet" type="text/css" href="style.css">
    <link rel="icon" type="image/png" href="./images/mips-icon.png">
</head>

<body>
	<div id="GlobalHeaderContainer">
		<div id="GlobalHeader">
			<div class="logo">
				<a href="https://www.mips.com/develop/tools/" target="_blank"><img src="./images/MIPS_Full_Wht.png" width="60%" height="60%" /></a>

</div>
			<div class="sitetitle">Codescape GNU Toolchain</div>
		</div>
	</div>
	<div id="NavContainer">
		<nav>
			<div class="navlink">
				<a href="index.html" >Home</a>
			</div>
			<div class="navlink">
				<a href="support.html">Support</a>
			</div>
			<div class="navlink">
				<a href="releasenotes.html" >Release Notes</a>
			</div>
			<div class="navlink">
				<a href="downloads.html" class="current" >Downloads</a>
			</div>
			<div class="navlink">
				<a href="license.html">License Agreements</a>
			</div>
		</nav>
	</div>
	<div class="content">
	  <h1>Downloads</h1>

	<div id="Downloads">
	  <h2>Codescape GNU Tools 2021.09-01 Binaries</h2>

	<h3>IMG Bare Metal Toolchain <i>MIPS32R6 and MIPS64R6</i></h3>
	<p  CLASS="indented">
	  <table border=0>
	  <tr><td width="200px"><a href="Codescape.GNU.Tools.Package.2021.09-01.for.MIPS.IMG.Bare.Metal.CentOS-6.x86.tar.gz">Linux x86</a> (.tar.gz)</td><td width="80px">[323M]</td><td >md5: <tt>a11014bd01d2e3fea342c20d474d67d6</tt><br>sha256: <tt>2c8757cfb6b105801831079b91872ab4689280076443fa1ad7b1c52dd1f7486d</tt></td></tr>
	  <tr><td width="200px"><a href="Codescape.GNU.Tools.Package.2021.09-01.for.MIPS.IMG.Bare.Metal.CentOS-6.x86_64.tar.gz">Linux x64</a> (.tar.gz)</td><td width="80px">[303M]</td><td >md5: <tt>cf9cd52cbaf6051bf202b579e150bb0a</tt><br>sha256: <tt>63552101bccab8935f161d36730f0cbdf4d68bc0d4d11fcfdd826503a3cf3b6b</tt></td></tr>
	  <tr><td width="200px"><a href="Codescape.GNU.Tools.Package.2021.09-01.for.MIPS.IMG.Bare.Metal.Windows.x86.tar.gz">Windows x86</a> (.tar.gz)</td><td width="80px">[261M]</td><td >md5: <tt>ae910230724a9767c756a9629dd9c29d</tt><br>sha256: <tt>0f4510440e365919efd80b977051eb748dfdc1318d8daf3c40fb287e4cf6dea7</tt></td></tr>
	  <tr><td width="200px"><a href="Codescape.GNU.Tools.Package.2021.09-01.for.MIPS.IMG.Bare.Metal.Windows.x86_64.tar.gz">Windows x64</a> (.tar.gz)</td><td width="80px">[265M]</td><td >md5: <tt>1c9c8fcb811121cfe32ffc79b060d604</tt><br>sha256: <tt>c8abfea550e14fec60eccf2361cf3c24926ea5c6e5f5f9369a74ec708fa8b7a1</tt></td></tr>
	  </table>
	</p>
	<h3>IMG GNU/Linux Toolchain <i>MIPS32R6 and MIPS64R6</i></h3>
	<p  CLASS="indented">
	  <table border=0>
	 <tr><td width="200px"><a href="Codescape.GNU.Tools.Package.2021.09-01.for.MIPS.IMG.Linux.CentOS-6.x86.tar.gz">Linux x86</a> (.tar.gz)</td><td width="80px">[969M]</td><td >md5: <tt>b2bc1cea1a9b2680cfd01d480c2056b2</tt><br>sha256: <tt>7b10eba857255149179113a56ec97764d100306b8797c0a4de3f6d3fbe388337</tt></td></tr>
	  <tr><td width="200px"><a href="Codescape.GNU.Tools.Package.2021.09-01.for.MIPS.IMG.Linux.CentOS-6.x86_64.tar.gz">Linux x64</a> (.tar.gz)</td><td width="80px">[875M]</td><td >md5: <tt>dc13c69ecbefeab651f53ebcbab3288c</tt><br>sha256: <tt>61ff159cd28c297fcd9007e8d219f6bd1d6afa4e73c47036aaa3841425f9225f</tt></td></tr>
	  <tr><td width="200px"><a href="Codescape.GNU.Tools.Package.2021.09-01.for.MIPS.IMG.Linux.Windows.x86.tar.gz">Windows x86</a> (.tar.gz)</td><td width="80px">[1160M]</td><td >md5: <tt>cc8b51fad6bb0911bc1ec854291dc304</tt><br>sha256: <tt>8563f908f162cd8c9a68f101bd2f9bf833087d85cb63092654532cf0eb630ac2</tt></td></tr>
	  <tr><td width="200px"><a href="Codescape.GNU.Tools.Package.2021.09-01.for.MIPS.IMG.Linux.Windows.x86_64.tar.gz">Windows x64</a> (.tar.gz)</td><td width="80px">[1164M]</td><td >md5: <tt>56651c2a1645d5bd87f6f33d0f158450</tt><br>sha256: <tt>205c82de7c35d9c9bf9438c724115b7082c695ae8ac1823b47daa10e2e439cc4</tt></td></tr>
	  </table>
	</p>
	<hr />

	<h2>Codescape GNU Tools 2021.09-01 Source</h2>
	<h3>Source Packages</h3>
			<p class="indented">
			<table border=0>
			<tr><td width="200px"><a href="src/binutils-2021.09-01.src.tar.gz">binutils-2021.09-01.src.tar.gz</a></td><td width="80px">[53M]</td><td >md5: <tt>034784f4d7e319cc752ec79987932046</tt><br>sha256: <tt>27a4e61de7d44b720ca4924cb51184e52e15f3811034fb8d18df2169c5d8848b</tt></td></tr>
<tr><td width="200px"><a href="src/gdb-2021.09-01.src.tar.gz">gdb-2021.09-01.src.tar.gz</a></td><td width="80px">[53M]</td><td >md5: <tt>1beda850dad13b867cbba6877894d03d</tt><br>sha256: <tt>8bcb203f81a08427767cc008ae955d90eddc5a9d6f478455c0e07d4e8565c55f</tt></td></tr>
<tr><td width="200px"><a href="src/newlib-2021.09-01.src.tar.gz">newlib-2021.09-01.src.tar.gz</a></td><td width="80px">[20M]</td><td >md5: <tt>f7b28eab47fd32cf95acf4e616faa817</tt><br>sha256: <tt>d8839b1bbea7e2567280d9fe35a63eafc0fc8416f7f2797223e85efdaea1582d</tt></td></tr>
<tr><td width="200px"><a href="src/uclibc-2021.09-01.src.tar.gz">uclibc-2021.09-01.src.tar.gz</a></td><td width="80px">[3M]</td><td >md5: <tt>f53757a92b846b06e7178e14da3767c2</tt><br>sha256: <tt>431918624719684f72fc7bd9fd4f3050239810796ae95bb2aa819ea5a9091f05</tt></td></tr>
<tr><td width="200px"><a href="src/gcc-2021.09-01.src.tar.gz">gcc-2021.09-01.src.tar.gz</a></td><td width="80px">[119M]</td><td >md5: <tt>f3ed262480b23ade49d88c988146df03</tt><br>sha256: <tt>4a721fd56161cf6a7fc308333d5cd5e300dae46c10c5b007cb82911fec9de9ac</tt></td></tr>
<tr><td width="200px"><a href="src/glibc-2021.09-01.src.tar.gz">glibc-2021.09-01.src.tar.gz</a></td><td width="80px">[31M]</td><td >md5: <tt>8a1243a35a8cad1ff083a5b2716513cd</tt><br>sha256: <tt>9750530f085ed26c513b82331c54cef0723ad24c286019fad35223a00946af62</tt></td></tr>
<tr><td width="200px"><a href="src/smallclib-2021.09-01.src.tar.gz">smallclib-2021.09-01.src.tar.gz</a></td><td width="80px">[1M]</td><td >md5: <tt>5b1c5b6e94e515286ecaf77c09369b89</tt><br>sha256: <tt>faea6a0726703cfeada7a1ef3cc9095698c560016fcba806e72ad80205f6ae79</tt></td></tr>
<tr><td width="200px"><a href="src/gold-2021.09-01.src.tar.gz">gold-2021.09-01.src.tar.gz</a></td><td width="80px">[53M]</td><td >md5: <tt>2c60e37fed4a6abd07e12dc401f3c566</tt><br>sha256: <tt>5f4192ff2d4edc709c3f13e7701eb60aff241ad1797c278d0613ccdbdadbf86b</tt></td></tr>
<tr><td width="200px"><a href="src/qemu-2021.09-01.src.tar.gz">qemu-2021.09-01.src.tar.gz</a></td><td width="80px">[27M]</td><td >md5: <tt>d82f223d93df0ec6d2b3914da90a8b20</tt><br>sha256: <tt>807ab37a8260109ce993021603733d896b13903ee57693f99c587dfb3d7c8459</tt></td></tr>
<tr><td width="200px"><a href="src/packages-2021.09-01.src.tar.gz">packages-2021.09-01.src.tar.gz</a></td><td width="80px">[164M]</td><td >md5: <tt>ff7fb418888855fd275f2ae27105615b</tt><br>sha256: <tt>6ab9d7f020b14647f207a689a9e50927cb9bab4e63ce6643fddfd399a29acfa7</tt></td></tr>
<tr><td width="200px"><a href="src/python-2021.09-01.src.tar.gz">python-2021.09-01.src.tar.gz</a></td><td width="80px">[22M]</td><td >md5: <tt>8b5661be94bdefeb880c082bfdcfb466</tt><br>sha256: <tt>6c6ae352c3d8cd9124cd6e56e4b5e89ba1244837b2782fa7f8c7096ae228e07d</tt></td></tr>

			</table>

	</div>
	<br>

	<br>
	<div class="content">
	  <h2>Previous Releases</h2>
	  <p>
	    <table>
	      <!-- ${REL_NEW} -->
	      <tr>
		<!-- ${REL_SUP_2020.06} -->
		<td><a href="../2020.06-01/downloads.html">2020.06-01</a></td>
	      </tr>
	      <tr>
		<!-- ${REL_SUP_2019.09} -->
		<td><a href="../2019.09-06/downloads.html">2019.09-06</a></td>
		<td><a href="../2019.09-03/downloads.html">2019.09-03</a></td>
		<td><a href="../2019.09-02/downloads.html">2019.09-02</a></td>
		<td><a href="../2019.09-01/downloads.html">2019.09-01</a></td>
	      </tr>
	      <tr>
		<!-- ${REL_SUP_2019.02} -->
		<td><a href="../2019.02-05/downloads.html">2019.02-05</a></td>
		<td><a href="../2019.02-04/downloads.html">2019.02-04</a></td>
		<td><a href="../2019.02-03/downloads.html">2019.02-03</a></td>
		<td><a href="../2019.02-01/downloads.html">2019.02-01</a></td>
	      </tr>

	      <tr>
		<!-- ${REL_SUP_2018.11} -->
		<td><a href="../2018.11-01/downloads.html">2018.11-01</a></td>
	      </tr>
	      <tr>
		<!-- ${REL_SUP_2018.09} -->
		<td><a href="../2018.09-03/downloads.html">2018.09-03</a></td>
		<td><a href="../2018.09-02/downloads.html">2018.09-02</a></td>
	      </tr>
	      <tr>
		<!-- ${REL_SUP_2017.10} -->
		<td><a href="../2017.10-08/downloads.html">2017.10-07</a></td>
		<td><a href="../2017.10-07/downloads.html">2017.10-07</a></td>
		<td><a href="../2017.10-05/downloads.html">2017.10-05</a></td>
	      </tr>
	      <tr>
		<!-- ${REL_SUP_2016.05} -->
		<td><a href="../2016.05-08/downloads.html">2016.05-08</a></td>
		<td><a href="../2016.05-06/downloads.html">2016.05-06</a></td>
		<td><a href="../2016.05-03/downloads.html">2016.05-03</a></td>
		<td><a href="../2016.05-01/downloads.html">2016.05-01</a></td>
	      </tr>
	      <tr>
		<!-- ${REL_SUP_2015.10} -->
		<td><a href="../2015.10-04/downloads.html">2015.10-04</a></td>
	      </tr>
	      <tr>
		<!-- ${REL_SUP_2015.06} -->
		<td><a href="../2015.06-05/downloads.html">2015.06-05</a></td>
		<td><a href="../2015.06-04/downloads.html">2015.06-04</a></td>
		<td><a href="../2015.06-03/downloads.html">2015.06-03</a></td>
	      </tr>
	      <tr>
		<!-- ${REL_SUP_2015.01} -->
		<td><a href="../2015.01-7/downloads.html">2015.01-7</a></td>
		<td><a href="../2015.01-6/downloads.html">2015.01-6</a></td>
		<td><a href="../2015.01-5/downloads.html">2015.01-5</a></td>
	      </tr>
	      <tr>
		<!-- ${REL_SUP_2014.07} -->
		<td><a href="../2014.07-1/downloads.html">2014.07-1</a></td>
	      </tr>
	    </table>
	  </p>
	</div>
	<br>

	</div>
	</div>

	<div id="FooterMainContainer">
		<div id="FooterContainer">
			<div class="footerlogo">
				<a href="http://www.mips.com" target="_blank"><img src="./images/MIPS_master_logo.png" width="100%" height="100%" /></a>
			</div>
			<div class="copyright">&copy; 2019 MIPS Tech, LLC. All rights reserved</div>
		</div>
	</div>
</body>
</html>
