<!DOCTYPE html>
<html lang="en">
<head>
	<title>Codescape GNU Toolchain</title>
	<meta charset="UTF-8" />
	<link rel="stylesheet" type="text/css" href="style.css">
    <link rel="icon" type="image/png" href="./images/mips-icon.png">
</head>

<body>
	<div id="GlobalHeaderContainer">
		<div id="GlobalHeader">
			<div class="logo">
				<a href="https://www.mips.com/develop/tools/" target="_blank"><img src="./images/MIPS_Full_Wht.png" width="60%" height="60%" /></a>

</div>
			<div class="sitetitle">Codescape GNU Toolchain</div>
		</div>
	</div>
	<div id="NavContainer">
		<nav>
			<div class="navlink">
				<a href="index.html" >Home</a>
			</div>
			<div class="navlink">
				<a href="support.html">Support</a>
			</div>
			<div class="navlink">
				<a href="releasenotes.html" >Release Notes</a>
			</div>
			<div class="navlink">
				<a href="downloads.html" class="current" >Downloads</a>
			</div>
			<div class="navlink">
				<a href="license.html">License Agreements</a>
			</div>
		</nav>
	</div>
	<div class="content">
	  <h1>Downloads</h1>

	<div id="Downloads">
	  <h2>Codescape GNU Tools 2024.10-01 Binaries</h2>

	<h3>IMG Bare Metal Toolchain <i>MIPS32R6 and MIPS64R6</i></h3>
	<p  CLASS="indented">
	  <table border=0>
	  <tr><td width="200px"><a href="Codescape.GNU.Tools.Package.2024.10-01.for.MIPS.IMG.Bare.Metal.CentOS-6.x86.tar.gz">Linux x86</a> (.tar.gz)</td><td width="80px">[323M]</td><td >md5: <tt>dfc7a18ae5467575b4a0466ae91a90bd</tt><br>sha256: <tt>0cad97a7722f193c167767f1977ad9c669ce1b868322f4115ce21b54109146c3</tt></td></tr>
	  <tr><td width="200px"><a href="Codescape.GNU.Tools.Package.2024.10-01.for.MIPS.IMG.Bare.Metal.CentOS-6.x86_64.tar.gz">Linux x64</a> (.tar.gz)</td><td width="80px">[303M]</td><td >md5: <tt>7766caed5401783aef796b7b981b9df9</tt><br>sha256: <tt>888c3bc7d45d2ff95ba4d23f6b7cafbe3b0a4a8ce95f0de58af22d625007d09d</tt></td></tr>
	  <tr><td width="200px"><a href="Codescape.GNU.Tools.Package.2024.10-01.for.MIPS.IMG.Bare.Metal.Windows.x86.tar.gz">Windows x86</a> (.tar.gz)</td><td width="80px">[261M]</td><td >md5: <tt>7f27c099f2f725b57d1b3df1275e6c81</tt><br>sha256: <tt>1ccdcc69cce606d324322e0757e77a8eb73ccdedb15ac37ce1b1fd3f3788712a</tt></td></tr>
	  <tr><td width="200px"><a href="Codescape.GNU.Tools.Package.2024.10-01.for.MIPS.IMG.Bare.Metal.Windows.x86_64.tar.gz">Windows x64</a> (.tar.gz)</td><td width="80px">[265M]</td><td >md5: <tt>a94a984318bbd5aab17cf33d86154786</tt><br>sha256: <tt>4b3f3968b915af3c54ed940bff1a08dab1b5fdf16c61f0a40034b87f3894898a</tt></td></tr>
	  </table>
	</p>
	<h3>IMG GNU/Linux Toolchain <i>MIPS32R6 and MIPS64R6</i></h3>
	<p  CLASS="indented">
	  <table border=0>
	 <tr><td width="200px"><a href="Codescape.GNU.Tools.Package.2024.10-01.for.MIPS.IMG.Linux.CentOS-6.x86.tar.gz">Linux x86</a> (.tar.gz)</td><td width="80px">[930M]</td><td >md5: <tt>ddbb717d0310ce524d389476cc8810b4</tt><br>sha256: <tt>5aa4146cca0d0ea44e81b45860787a3187817444d2e90d6e4c835e0e47b84204</tt></td></tr>
	  <tr><td width="200px"><a href="Codescape.GNU.Tools.Package.2024.10-01.for.MIPS.IMG.Linux.CentOS-6.x86_64.tar.gz">Linux x64</a> (.tar.gz)</td><td width="80px">[907M]</td><td >md5: <tt>fa9b350406776a7b817d7faf9b3ff84e</tt><br>sha256: <tt>3bd2b383712fc2dc520101e59d9651b3b5c3270d1bc6b5a941ef17472a23e838</tt></td></tr>
	  <tr><td width="200px"><a href="Codescape.GNU.Tools.Package.2024.10-01.for.MIPS.IMG.Linux.Windows.x86.tar.gz">Windows x86</a> (.tar.gz)</td><td width="80px">[1120M]</td><td >md5: <tt>01236bd53e79dc848dedfcee623d6816</tt><br>sha256: <tt>986431e2394dcd25ddd9f3747524061d8cced921bdf9db41a36818bfc7c18502</tt></td></tr>
	  <tr><td width="200px"><a href="Codescape.GNU.Tools.Package.2024.10-01.for.MIPS.IMG.Linux.Windows.x86_64.tar.gz">Windows x64</a> (.tar.gz)</td><td width="80px">[1125M]</td><td >md5: <tt>0fe724b23af34591e35d7244697f8f02</tt><br>sha256: <tt>9997211f45bd1b1e47c73a404a31fd16f7ef8097955f6b0216a67a10cc8cdc9e</tt></td></tr>
	  </table>
	</p>
	<hr />

	<h2>Codescape GNU Tools 2024.10-01 Source</h2>
	<h3>Source Packages</h3>
			<p class="indented">
			<table border=0>
			<tr><td width="200px"><a href="src/binutils-2024.10-01.src.tar.gz">binutils-2024.10-01.src.tar.gz</a></td><td width="80px">[53M]</td><td >md5: <tt>8c83040e97477da83949e6e826d5050d</tt><br>sha256: <tt>3279038dc6c46413a3384676bd27e6495505e90b4b310a12afbb720db12baf90</tt></td></tr>
<tr><td width="200px"><a href="src/gdb-2024.10-01.src.tar.gz">gdb-2024.10-01.src.tar.gz</a></td><td width="80px">[53M]</td><td >md5: <tt>830af93df3b3ebbeeec95c08a907629d</tt><br>sha256: <tt>34f38d2aab89a8a883febb6ef82b28708f6379535e4af4013191d95df66505d8</tt></td></tr>
<tr><td width="200px"><a href="src/newlib-2024.10-01.src.tar.gz">newlib-2024.10-01.src.tar.gz</a></td><td width="80px">[20M]</td><td >md5: <tt>6d1a5d80570e5ba43b86586ee282893c</tt><br>sha256: <tt>e06273ec87bf89e3acf46bb3d06c0520deb34f89da4fd6ed08ce3238dd789786</tt></td></tr>
<tr><td width="200px"><a href="src/uclibc-2024.10-01.src.tar.gz">uclibc-2024.10-01.src.tar.gz</a></td><td width="80px">[3M]</td><td >md5: <tt>3c9c45b7d18b4673c54a4ba896e1e3dd</tt><br>sha256: <tt>fd1a8267d327371e7dadcd3b8ac80065e36c04eb639934fc9db733215490318f</tt></td></tr>
<tr><td width="200px"><a href="src/gcc-2024.10-01.src.tar.gz">gcc-2024.10-01.src.tar.gz</a></td><td width="80px">[119M]</td><td >md5: <tt>4d60e04af7280a32c8c6af5daabf1f1a</tt><br>sha256: <tt>2f83ae59e375e802259c695ca721a7e11d8265423875ab9e2a5aceb54f6128dc</tt></td></tr>
<tr><td width="200px"><a href="src/glibc-2024.10-01.src.tar.gz">glibc-2024.10-01.src.tar.gz</a></td><td width="80px">[36M]</td><td >md5: <tt>14edd50a9d082ab976c84949cc085a92</tt><br>sha256: <tt>c4254e78bd05d9fc548e96d8c17657c4fbc204ec3ff25abbeb3804bb50317fe3</tt></td></tr>
<tr><td width="200px"><a href="src/smallclib-2024.10-01.src.tar.gz">smallclib-2024.10-01.src.tar.gz</a></td><td width="80px">[1M]</td><td >md5: <tt>13db72d7ca61d9e42ad8aece6f323e20</tt><br>sha256: <tt>5a0011eb07bc2b380e03b38eaeddf30ea7692012460957e853a5fd753ea5fc30</tt></td></tr>
<tr><td width="200px"><a href="src/gold-2024.10-01.src.tar.gz">gold-2024.10-01.src.tar.gz</a></td><td width="80px">[53M]</td><td >md5: <tt>027a4d9ab741f6c3cec05da2bb6d2535</tt><br>sha256: <tt>346a18f21bb3f084821316318f03b28150804a3f33ec5c463a8a1e875ee282cd</tt></td></tr>
<tr><td width="200px"><a href="src/qemu-2024.10-01.src.tar.gz">qemu-2024.10-01.src.tar.gz</a></td><td width="80px">[27M]</td><td >md5: <tt>65dc208cda9b2a360d16260fa783ff3b</tt><br>sha256: <tt>a9dd250decb5d6d519fa68d741c8788bc0d458db6570c39882d2f952aa7d80b8</tt></td></tr>
<tr><td width="200px"><a href="src/packages-2024.10-01.src.tar.gz">packages-2024.10-01.src.tar.gz</a></td><td width="80px">[164M]</td><td >md5: <tt>40852e287b89099f1debe9f3e0df1e04</tt><br>sha256: <tt>19dc374e5abb7fd2231c1351aa47804db20095e7979b232fd20649e57760c168</tt></td></tr>
<tr><td width="200px"><a href="src/python-2024.10-01.src.tar.gz">python-2024.10-01.src.tar.gz</a></td><td width="80px">[22M]</td><td >md5: <tt>4e9ffa74f384f99b7ae79dcf6d3d37e5</tt><br>sha256: <tt>57e455018dba9fd86e88b27e7bc2995f1f05739a3736ba32aadb5dcd1aa8c88f</tt></td></tr>

			</table>

	</div>
	<br>

	<br>
	<div class="content">
	  <h2>Previous Releases</h2>
	  <p>
	    <table>
	      <!-- ${REL_NEW} -->
	      <tr>
		<!-- ${REL_SUP_2021.09} -->
		<td><a href="../2021.09-01/downloads.html">2021.09-01</a></td>
	      </tr>
	      <tr>
		<!-- ${REL_SUP_2020.06} -->
		<td><a href="../2020.06-01/downloads.html">2020.06-01</a></td>
	      </tr>
	      <tr>
		<!-- ${REL_SUP_2019.09} -->
		<td><a href="../2019.09-06/downloads.html">2019.09-06</a></td>
		<td><a href="../2019.09-03/downloads.html">2019.09-03</a></td>
		<td><a href="../2019.09-02/downloads.html">2019.09-02</a></td>
		<td><a href="../2019.09-01/downloads.html">2019.09-01</a></td>
	      </tr>
	      <tr>
		<!-- ${REL_SUP_2019.02} -->
		<td><a href="../2019.02-05/downloads.html">2019.02-05</a></td>
		<td><a href="../2019.02-04/downloads.html">2019.02-04</a></td>
		<td><a href="../2019.02-03/downloads.html">2019.02-03</a></td>
		<td><a href="../2019.02-01/downloads.html">2019.02-01</a></td>
	      </tr>

	      <tr>
		<!-- ${REL_SUP_2018.11} -->
		<td><a href="../2018.11-01/downloads.html">2018.11-01</a></td>
	      </tr>
	      <tr>
		<!-- ${REL_SUP_2018.09} -->
		<td><a href="../2018.09-03/downloads.html">2018.09-03</a></td>
		<td><a href="../2018.09-02/downloads.html">2018.09-02</a></td>
	      </tr>
	      <tr>
		<!-- ${REL_SUP_2017.10} -->
		<td><a href="../2017.10-08/downloads.html">2017.10-07</a></td>
		<td><a href="../2017.10-07/downloads.html">2017.10-07</a></td>
		<td><a href="../2017.10-05/downloads.html">2017.10-05</a></td>
	      </tr>
	      <tr>
		<!-- ${REL_SUP_2016.05} -->
		<td><a href="../2016.05-08/downloads.html">2016.05-08</a></td>
		<td><a href="../2016.05-06/downloads.html">2016.05-06</a></td>
		<td><a href="../2016.05-03/downloads.html">2016.05-03</a></td>
		<td><a href="../2016.05-01/downloads.html">2016.05-01</a></td>
	      </tr>
	      <tr>
		<!-- ${REL_SUP_2015.10} -->
		<td><a href="../2015.10-04/downloads.html">2015.10-04</a></td>
	      </tr>
	      <tr>
		<!-- ${REL_SUP_2015.06} -->
		<td><a href="../2015.06-05/downloads.html">2015.06-05</a></td>
		<td><a href="../2015.06-04/downloads.html">2015.06-04</a></td>
		<td><a href="../2015.06-03/downloads.html">2015.06-03</a></td>
	      </tr>
	      <tr>
		<!-- ${REL_SUP_2015.01} -->
		<td><a href="../2015.01-7/downloads.html">2015.01-7</a></td>
		<td><a href="../2015.01-6/downloads.html">2015.01-6</a></td>
		<td><a href="../2015.01-5/downloads.html">2015.01-5</a></td>
	      </tr>
	      <tr>
		<!-- ${REL_SUP_2014.07} -->
		<td><a href="../2014.07-1/downloads.html">2014.07-1</a></td>
	      </tr>
	    </table>
	  </p>
	</div>
	<br>

	</div>
	</div>

	<div id="FooterMainContainer">
		<div id="FooterContainer">
			<div class="footerlogo">
				<a href="http://www.mips.com" target="_blank"><img src="./images/MIPS_master_logo.png" width="100%" height="100%" /></a>
			</div>
			<div class="copyright">&copy; 2019 MIPS Tech, LLC. All rights reserved</div>
		</div>
	</div>
</body>
</html>
