<!DOCTYPE html>
<html lang="en">
<head>
	<title>Codescape GNU Toolchain</title>
	<meta charset="UTF-8" />
	<link rel="stylesheet" type="text/css" href="style.css">
    <link rel="icon" type="image/png" href="./images/mips-icon.png">
</head>

<body>
	<div id="GlobalHeaderContainer">
		<div id="GlobalHeader">
			<div class="logo">
				<a href="https://www.mips.com/develop/tools/" target="_blank"><img src="./images/MIPS_Full_Wht.png" width="60%" height="60%" /></a>

</div>
			<div class="sitetitle">Codescape GNU Toolchain</div>
		</div>
	</div>
	<div id="NavContainer">
		<nav>
			<div class="navlink">
				<a href="index.html" >Home</a>
			</div>
			<div class="navlink">
				<a href="support.html">Support</a>
			</div>
			<div class="navlink">
				<a href="releasenotes.html" >Release Notes</a>
			</div>
			<div class="navlink">
				<a href="downloads.html" class="current" >Downloads</a>
			</div>
			<div class="navlink">
				<a href="license.html">License Agreements</a>
			</div>
		</nav>
	</div>
	<div class="content">
	  <h1>Downloads</h1>

	<div id="Downloads">
	  <h2>Codescape GNU Tools 2019.02-03 Binaries</h2>

	<h3>IMG Bare Metal Toolchain <i>MIPS32R6, MIPS64R6 and microMIPS32R6</i></h3>
	<p  CLASS="indented">
	  <table border=0>
	  <tr><td width="200px"><a href="Codescape.GNU.Tools.Package.2019.02-03.for.MIPS.IMG.Bare.Metal.CentOS-6.x86.tar.gz">Linux x86</a> (.tar.gz)</td><td width="80px">[306M]</td><td >md5: <tt>29c51aaacce751a303071ef4eb639f9b</tt><br>sha256: <tt>188954e53a86c6801ea8983825fd17fd505a7489a7162d8eea37afe4c22e6faf</tt></td></tr>
	  <tr><td width="200px"><a href="Codescape.GNU.Tools.Package.2019.02-03.for.MIPS.IMG.Bare.Metal.CentOS-6.x86_64.tar.gz">Linux x64</a> (.tar.gz)</td><td width="80px">[278M]</td><td >md5: <tt>466d561351690a9e8551fe8f9ad5eda7</tt><br>sha256: <tt>4d9d02c20328a325f658200eefc525d6312ed73fe9550746ea74d3d17130d8d6</tt></td></tr>
	  <tr><td width="200px"><a href="Codescape.GNU.Tools.Package.2019.02-03.for.MIPS.IMG.Bare.Metal.Windows.x86.tar.gz">Windows x86</a> (.tar.gz)</td><td width="80px">[265M]</td><td >md5: <tt>7d67a9a3db76a8f10055ba40753b096a</tt><br>sha256: <tt>b617d931b0f3985859e1c4253bd8b95d13150623f877b21a4b4a1f2af843f0b6</tt></td></tr>
	  <tr><td width="200px"><a href="Codescape.GNU.Tools.Package.2019.02-03.for.MIPS.IMG.Bare.Metal.Windows.x86_64.tar.gz">Windows x64</a> (.tar.gz)</td><td width="80px">[267M]</td><td >md5: <tt>18ed7d49ea01f1eb8c9b96bfcd5f9524</tt><br>sha256: <tt>c63fbb2a633a8edd489ab7f64aec0edb21b3cf4f111cca00a146378bcc38f299</tt></td></tr>
	  </table>
	</p>
	<h3>IMG GNU/Linux Toolchain <i>MIPS32R6, MIPS64R6 and microMIPS32R6</i></h3>
	<p  CLASS="indented">
	  <table border=0>
	  <tr><td width="200px"><a href="Codescape.GNU.Tools.Package.2019.02-03.for.MIPS.IMG.Linux.CentOS-6.x86.tar.gz">Linux x86</a> (.tar.gz)</td><td width="80px">[1122M]</td><td >md5: <tt>0920bb1fa6743522b99f8e9003005044</tt><br>sha256: <tt>3dadba3dd0d4809566599d8e6488274970b4baff8a55f1ca6e6b119aaa2ac585</tt></td></tr>
	  <tr><td width="200px"><a href="Codescape.GNU.Tools.Package.2019.02-03.for.MIPS.IMG.Linux.CentOS-6.x86_64.tar.gz">Linux x64</a> (.tar.gz)</td><td width="80px">[967M]</td><td >md5: <tt>5102b22617b571f3abdf52ad3cc031fe</tt><br>sha256: <tt>9977900756494cf09146f79987199661d2ff2c912786d99bf5f6e4d328c6035d</tt></td></tr>
	  <tr><td width="200px"><a href="Codescape.GNU.Tools.Package.2019.02-03.for.MIPS.IMG.Linux.Windows.x86.tar.gz">Windows x86</a> (.tar.gz)</td><td width="80px">[1209M]</td><td >md5: <tt>52dc1d6c22b0d3a3645ba9020d481882</tt><br>sha256: <tt>5c946d1990acdc8e783b9f7774e5e8c2a844f207191b242cfe75182ec48c4f17</tt></td></tr>
	  <tr><td width="200px"><a href="Codescape.GNU.Tools.Package.2019.02-03.for.MIPS.IMG.Linux.Windows.x86_64.tar.gz">Windows x64</a> (.tar.gz)</td><td width="80px">[1213M]</td><td >md5: <tt>9da5a9ae0bcf724a61fd5f8a15ae0a4b</tt><br>sha256: <tt>5c80705eb5de4b7e54cc4f82492d350977021c34e8bed4b1d7af6d77229f175c</tt></td></tr>
	  </table>
	</p>
	<hr />

	<h2>Codescape GNU Tools 2019.02-03 Source</h2>
	<h3>Source Packages</h3>
			<p class="indented">
			<table border=0>
			<tr><td width="200px"><a href="src/binutils-2019.02-03.src.tar.gz">binutils-2019.02-03.src.tar.gz</a></td><td width="80px">[53M]</td><td >md5: <tt>aebe06e117431f285a473b16e98a5e97</tt><br>sha256: <tt>bc3f2ed838f2fa60bdf30320688849458dfece8d4f26158d111fb5dacde4ea58</tt></td></tr>
<tr><td width="200px"><a href="src/gdb-2019.02-03.src.tar.gz">gdb-2019.02-03.src.tar.gz</a></td><td width="80px">[46M]</td><td >md5: <tt>21ed66006016599bf810a080839bdaf7</tt><br>sha256: <tt>ba8dabcb30d51f3bdec681a8db76207dc437b6c37dd47cb9cb27fccb3056af1d</tt></td></tr>
<tr><td width="200px"><a href="src/newlib-2019.02-03.src.tar.gz">newlib-2019.02-03.src.tar.gz</a></td><td width="80px">[20M]</td><td >md5: <tt>ab486840b2335cad7716c3f2cd45ffe9</tt><br>sha256: <tt>e176a377785e62230b649089166cedd6f78d854d56ccf48bc817425ad3f04a1e</tt></td></tr>
<tr><td width="200px"><a href="src/uclibc-2019.02-03.src.tar.gz">uclibc-2019.02-03.src.tar.gz</a></td><td width="80px">[3M]</td><td >md5: <tt>ce12a17210b6494d8975eae3cb094c03</tt><br>sha256: <tt>23cfed637f9b4f97686d973690554bb9012e12c05e7b6ed77a92a9b87b290786</tt></td></tr>
<tr><td width="200px"><a href="src/gcc-2019.02-03.src.tar.gz">gcc-2019.02-03.src.tar.gz</a></td><td width="80px">[93M]</td><td >md5: <tt>f17b6b6afaa6d4cbe4bc3fb9018c1212</tt><br>sha256: <tt>dd9e8c6edff4b5a8b49e34e2ea26149df10056d7e78434f656fdf9367c2be49c</tt></td></tr>
<tr><td width="200px"><a href="src/glibc-2019.02-03.src.tar.gz">glibc-2019.02-03.src.tar.gz</a></td><td width="80px">[31M]</td><td >md5: <tt>b66eacd709234f6d97548aa52c511f5d</tt><br>sha256: <tt>ce65aa29af47ca19f10e08f7d5e5c659236d4b114da95571f8aa52c44c1de8c1</tt></td></tr>
<tr><td width="200px"><a href="src/smallclib-2019.02-03.src.tar.gz">smallclib-2019.02-03.src.tar.gz</a></td><td width="80px">[1M]</td><td >md5: <tt>13397aa40d3d818ee130112d86633c76</tt><br>sha256: <tt>0db5f4e5794a164f2893c6917a4c95eb2e124e8144723b8a8ad20daddedeaede</tt></td></tr>
<tr><td width="200px"><a href="src/gold-2019.02-03.src.tar.gz">gold-2019.02-03.src.tar.gz</a></td><td width="80px">[51M]</td><td >md5: <tt>ef40b68d4c72a9d156f96d6ba04151d0</tt><br>sha256: <tt>99aaa637c83a2f37a3409b052c82f926053fc5ba134822ea0f2a3b2fb5e71291</tt></td></tr>
<tr><td width="200px"><a href="src/qemu-2019.02-03.src.tar.gz">qemu-2019.02-03.src.tar.gz</a></td><td width="80px">[27M]</td><td >md5: <tt>437f7c4f9af1c6e69bf6371165acae6b</tt><br>sha256: <tt>6ddf9293082b1762825c72b6561cc525012d3d0b7711860ee51a6e0d684eb8d8</tt></td></tr>
<tr><td width="200px"><a href="src/packages-2019.02-03.src.tar.gz">packages-2019.02-03.src.tar.gz</a></td><td width="80px">[164M]</td><td >md5: <tt>653ca66eca9047d1b6f82fe9c28e3dc5</tt><br>sha256: <tt>f000dd3ffb0add3a95a50931f9fc39b55f682d4c6d8a1e9689613004468b4ab9</tt></td></tr>
<tr><td width="200px"><a href="src/python-2019.02-03.src.tar.gz">python-2019.02-03.src.tar.gz</a></td><td width="80px">[16M]</td><td >md5: <tt>5f76e42fa5c6f1b213ee0cb93c9f7829</tt><br>sha256: <tt>1c811f9219d244ef25a7ae5fcbdceb7247e17ccddfd3918c7d088be143ecd296</tt></td></tr>

			</table>

	</div>
	<br>

	<br>
	<div class="content">
	  <h2>Previous Releases</h2>
	  <p>
	    <table>
	      <!-- ${REL_NEW} -->
	      <tr>
		<!-- ${REL_SUP_2020.06} -->
		<td><a href="../2020.06-01/downloads.html">2020.06-01</a></td>
	      </tr>
	      <tr>
		<!-- ${REL_SUP_2019.09} -->
		<td><a href="../2019.09-03/downloads.html">2019.09-03</a></td>
		<td><a href="../2019.09-02/downloads.html">2019.09-02</a></td>
		<td><a href="../2019.09-01/downloads.html">2019.09-01</a></td>
	      </tr>
	      <tr>
		<!-- ${REL_SUP_2019.02} -->
		<td><a href="../2019.02-01/downloads.html">2019.02-01</a></td>
	      </tr>

	      <tr>
		<!-- ${REL_SUP_2018.11} -->
		<td><a href="../2018.11-01/downloads.html">2018.11-01</a></td>
	      </tr>
	      <tr>
		<!-- ${REL_SUP_2018.09} -->
		<td><a href="../2018.09-03/downloads.html">2018.09-03</a></td>
		<td><a href="../2018.09-02/downloads.html">2018.09-02</a></td>
	      </tr>
	      <tr>
		<!-- ${REL_SUP_2017.10} -->
		<td><a href="../2017.10-08/downloads.html">2017.10-07</a></td>
		<td><a href="../2017.10-07/downloads.html">2017.10-07</a></td>
		<td><a href="../2017.10-05/downloads.html">2017.10-05</a></td>
	      </tr>
	      <tr>
		<!-- ${REL_SUP_2016.05} -->
		<td><a href="../2016.05-08/downloads.html">2016.05-08</a></td>
		<td><a href="../2016.05-06/downloads.html">2016.05-06</a></td>
		<td><a href="../2016.05-03/downloads.html">2016.05-03</a></td>
		<td><a href="../2016.05-01/downloads.html">2016.05-01</a></td>
	      </tr>
	      <tr>
		<!-- ${REL_SUP_2015.10} -->
		<td><a href="../2015.10-04/downloads.html">2015.10-04</a></td>
	      </tr>
	      <tr>
		<!-- ${REL_SUP_2015.06} -->
		<td><a href="../2015.06-05/downloads.html">2015.06-05</a></td>
		<td><a href="../2015.06-04/downloads.html">2015.06-04</a></td>
		<td><a href="../2015.06-03/downloads.html">2015.06-03</a></td>
	      </tr>
	      <tr>
		<!-- ${REL_SUP_2015.01} -->
		<td><a href="../2015.01-7/downloads.html">2015.01-7</a></td>
		<td><a href="../2015.01-6/downloads.html">2015.01-6</a></td>
		<td><a href="../2015.01-5/downloads.html">2015.01-5</a></td>
	      </tr>
	      <tr>
		<!-- ${REL_SUP_2014.07} -->
		<td><a href="../2014.07-1/downloads.html">2014.07-1</a></td>
	      </tr>
	    </table>
	  </p>
	</div>
	<br>

	</div>
	</div>

	<div id="FooterMainContainer">
		<div id="FooterContainer">
			<div class="footerlogo">
				<a href="http://www.mips.com" target="_blank"><img src="./images/MIPS_master_logo.png" width="100%" height="100%" /></a>
			</div>
			<div class="copyright">&copy; 2019 MIPS Tech, LLC. All rights reserved</div>
		</div>
	</div>
</body>
</html>
